.u-section-1 .u-sheet-1 {
  min-height: 2771px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 65px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: -66px auto 0 498px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 111px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 61px;
  height: auto;
  width: 302px;
  margin: 59px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 71px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 410px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 314px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 149px;
  }
}