.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 891px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 90px auto 0;
}

.u-section-1 .u-text-2 {
  width: 285px;
  margin: 24px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 130px 0 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 96px;
  height: 96px;
  margin: -80px auto 0;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -80px auto 0 0;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 43px auto 60px 256px;
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-4 {
    margin-left: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-4 {
    margin-left: 147px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 93px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 20px;
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-text-1 {
  margin: 258px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 48px auto 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}